<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>An Introduction to AngularJS</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="../assets/reveal.js/css/reveal.min.css">
        <link rel="stylesheet" href="../assets/reveal.js/css/theme/beige.css" id="theme">
        <style>
            .reveal h1 img {
                border: none;
                box-shadow: none;
                background: none;
                position: absolute;
                margin-left: -150px;
                top: 0;
            }
            .reveal li {
                padding: 10px 0;
            }
            .reveal .live-example {
                padding: 20px 0;
                border: 1px solid #ccc;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.6);
                font-size: 75%;
            }
            .reveal .live-example input {
                height: 30px;
                width: 250px;
                vertical-align: middle;
                font-size: 75%;
            }
            .reveal .live-example p {
                margin-top: 20px;
            }
        </style>

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="../assets/reveal.js/lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
            document.write( '<link rel="stylesheet" href="../assets/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>

        <!--[if lt IE 9]>
            <script src="../assets/reveal.js/lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body ng-app="DemoApp">
        <div class="reveal">
            <div class="slides">
                <section>
                    <h1>
                        <img src="../assets/images/angularjs.png" alt="AngularJS">
                        AngularJS
                    </h1>
                    <h3>A basic introduction</h3>
                    <p>
                        <small>By <a href="http://jamesallardice.com">James Allardice</a> / <a href="http://twitter.com/james_allardice">@james_allardice</a></small>
                    </p>
                </section>

                <section>
                    <h2>What is AngularJS?</h2>
                    <ul>
                        <li>MVW - Model, View, Whatever</li>
                        <li>Extends native HTML</li>
                        <li>Automatic view-model syncronization</li>
                        <li>
                            <q cite="https://github.com/angular/angular.js/blob/master/README.md">
                                &ldquo;It makes development fun!&rdquo;
                            </q>
                        </li>
                    </ul>

                    <aside class="notes">
                        <p>
                            AngularJS is billed as a "Model, View, Whatever" framework for front-end web development. It's designed to let developers focus on building great apps, following separation of concerns, without having to argue about the benefits of MVC vs. MVVM and so on.
                        </p>
                        <p>
                            It extends HTML at runtime, allowing you to use Jade, HAML or whatever you prefer to actually write your views.
                        </p>
                        <p>
                            It offers 2-way data binding which means your model and view automatically stay in sync. If your model changes, your view changes instantly. There's no need for page reloads. We'll see some examples of this soon.
                        </p>
                        <p>
                            And in the words of the documentation, "it makes development fun". It abstracts away a lot of the pain of dealing with the DOM and AJAX. By wrapping native browser APIs in its own functions it allows you to write front-end JavaScript the way it would probably be done had it been invented today.
                        </p>
                    </aside>
                </section>

                <section>
                    <section>
                        <h2>Setting up an AngularJS app</h2>
                        <ul>
                            <li>
                                Directives - <q cite="http://docs.angularjs.org/guide/directive">&ldquo;Teach HTML new tricks&rdquo;</q>
                            </li>
                            <li>
                                <code>ng-app</code> attribute tells AngularJS to parse the DOM
                            </li>
                        </ul>

                        <aside class="notes">
                            <p>
                                A major concept in Angular is that of "directives", which are used to "teach HTML new tricks". When Angular parses the DOM it finds directives and executes the relevant code. There are several different ways to write directives, but the two most often seen are "attribute" and "element" directives. That is, custom attributes that can be added to existing elements, and completely new custom elements.
                            </p>
                            <p>
                                The first directive you'll come across will likely be "ng-app", an attribute directive that simply tells Angular that it should be active in that portion of the page. It will parse the DOM fragment contained within any element with an "ng-app" directive.
                            <p>
                        </aside>
                    </section>
                    <section>
                        <h2>A simple demo</h2>
                        <pre><code data-trim>
&lt;!doctype html>
&lt;html ng-app>
    &lt;head>
        &lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js">&lt;/script>
    &lt;/head>
    &lt;body>
        &lt;label>
            Name:
            &lt;input ng-model="yourName">
        &lt;/label>
        &lt;p>Hello {{yourName}}</p>
    &lt;/body>
&lt;/html>
                        </code></pre>
                        <div class="live-example">
                            <label>
                                Name:
                                <input ng-model="yourName">
                            </label>
                            <p>Hello {{{yourName}}}</p>
                        </div>
                    </section>
                    <section>
                        <h2>Setting up an AngularJS app</h2>
                        <ul>
                            <li>
                                Directives - <q cite="http://docs.angularjs.org/guide/directive">&ldquo;Teach HTML new tricks&rdquo;</q>
                            </li>
                            <li>
                                <code>ng-app</code> attribute tells AngularJS to parse the DOM
                            </li>
                            <li>
                                <code>ng-model</code> attribute creates a 2-way data binding
                            </li>
                            <li>{{interpolated}} expressions create "watches"</li>
                            <li>Scope!</li>
                        </ul>

                        <aside class="notes">
                            <p>
                                In that example we saw the "ng-app" directive mentioned previously. It was applied to the "html" element, which means Angular will be active for the whole page. We also saw the "ng-model" directive, which is used to create a 2-way data binding. In that example, it effectively binds the value of the input element to a property of the model called "yourName".
                            </p>
                            <p>
                                We also saw another key concept - string interpolation. Angular uses double curly braces as interpolation delimiters, and the expression contained within them is used to set up a "watch" on the corresponding property of the model. Watches, fairly obviously, "watch" the value of the model for changes, which means any time the value in the model changes, the view is updated automatically.
                            </p>
                            <p>
                                This example also demonstrated one of the most important Angular concepts - scope. This example only shows one, known as the root scope. Models are just properties of scope objects. More on this later.
                            </p>
                        </aside>
                    </section>
                </section>

                <section>
                    <h2>Introducing Modules</h2>
                    <ul>
                        <li>Break up application functionality</li>
                        <li>Use the global <code>angular</code> object:</li>
                        <li>
                            <pre><code data-trim>
var module = angular.module("MyApp", []);
                            </code></pre>
                        </li>
                        <li>And give a value to the <code>ng-app</code> directive</li>
                        <li>
                            <pre><code data-trim>
&lt;html ng-app="MyApp"> <!-- ... etc ... -->
                            </code></pre>
                        </li>
                        <li>Can be "required" (injected)</li>
                    </ul>

                    <aside class="notes">
                        <p>
                            Our first example was not very modular. Angular was designed with modularity and testability in mind from the start. Breaking your application up into smaller chunks makes it easy to build re-usable components and test them in isolation.
                        </p>
                        <p>
                            The library exposes a single global object, "angular". We can use this to create new modules as shown. The name given to a module can then be used as the value of an "ng-app" directive. This will tell Angular what to actually do with the special elements and attributes it encounters within that DOM fragment.
                        </p>
                        <p>
                            Modules can "require" other modules
                    </aside>
                </section>

                <section>
                    <section>
                        <h2>Introducing Controllers</h2>
                        <ul>
                            <li>Augment scope instances with state and behaviour</li>
                            <li>Attached to views via <code>ng-controller</code> directive</li>
                            <li>Directive introduces new scope to augment</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Adding behaviour to our demo</h2>
                        <pre><code data-trim>
&lt;!doctype html>
&lt;html ng-app="MyApp" ng-controller="AppCtrl">
    &lt;head>
        &lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js">&lt;/script>
    &lt;/head>
    &lt;body>
        &lt;label>
            Name:
            &lt;input ng-model="yourName">
        &lt;/label>
        &lt;button ng-click="sayHi()">Say 'Hi' to {{yourName}}&lt;/button>
    &lt;/body>
&lt;/html>
                        </code></pre>
                        <pre><code data-trim>
angular.module("MyApp", []).controller("AppCtrl", function ($scope) {
    $scope.yourName = "James"; // Initial state
    $scope.sayHi = function () { // Behaviour
        alert("Hi " + $scope.yourName);
    };
});
                        </code></pre>
                        <div ng-controller="DemoCtrl1" class="live-example">
                            <label>
                                Name:
                                <input ng-model="yourName">
                            </label>
                            <button ng-click="sayHi()">Say 'Hi' to {{{yourName}}}</button>
                        </div>
                    </section>
                </section>

                <section>
                    <h2>Dependency injection</h2>
                    <ul>
                        <li>Appears to be magic at first glance:</li>
                    </ul>
                    <pre><code data-trim class="javascript">
var app = angular.module("Demo", []);
app.controller("DemoCtrl", function ($scope, $http) {
   // How does it know what $scope and $http are? 
});
                    </code></pre>
                    <ul>
                        <li>Parses <code>Function.prototype.toString</code></li>
                        <li>Can't be minified, so use array syntax:</li>
                    </ul>
                    <pre><code data-trim class="javascript">
var app = angular.module("Demo", []);
app.controller("DemoCtrl", ["$scope", "$http", function ($s, $h) {
   // Much clearer where those arguments come from
}]);
                    </code></pre>
                </section>

                <section>
                    <section>
                        <h2>Custom directives</h2>
                        <ul>
                            <li>Add your own elements/attributes</li>
                            <li>More semantic markup</li>
                            <li>Easy for front-end developers</li>
                        </ul>

                        <aside class="notes">
                            <p>
                                A major selling point of Angular is the ability to create custom directives. This means we can build completely new elements that can make our markup more semantic, and make our views much simpler. This makes the job of front-end developers much easier - it's often possible to write a single custom tag instead of 10, and let the Angular app handle the rest.
                            </p>
                        </aside>
                    </section>
                    <section>
                        <h2>A custom directive example</h2>
                        <pre><code data-trim class="javascript">
angular.module("MyApp", []).directive("loginForm", function () {
    return {
        restrict: "E", // Element directive
        replace: true,
        template: "&lt;form method='post' action='/login'> \
                       Email: &lt;input name='email'> \
                       Password: &lt;input name='email' type='password'> \
                       &lt;input type='submit' value='Login'> \
                   &lt;/form>"
    };
});
                        </code></pre>
                        <pre><code data-trim class="html">
&lt;div ng-app="MyApp">
    &lt;login-form>&lt;/login-form>
&lt;/div>
                        </code></pre>
                    </section>
                    <section>
                        <h2>Custom directives</h2>
                        <ul>
                            <li>Add your own elements/attributes</li>
                            <li>More semantic markup</li>
                            <li>Easy for front-end developers</li>
                            <li>Markup in JavaScript... not so good</li>
                            <li>Can use <code>templateURL</code> instead</li>
                        </ul>

                        <aside class="notes">
                            <p>
                                That example showed us the power of directives from the point of view of someone who has to write markup. But it's not great from a separation-of-concerns perspective. The markup is contained within the JavaScript, which is generally frowned upon.
                            </p>
                            <p>
                                This problem can be mitigated by using the "templateURL" property, instead of "template", and storing directive templates as plain markup. But this introduces a hit to performance as extra HTTP requests are needed to load the template contents. This is one of the downsides to Angular, but it does implement a very good caching system in an attempt to reduce the effect.
                            </p>
                        </aside>
                    </section>
                </section>

                <section>
                    <h1>Questions?</h1>
                </section>

            </div>

        </div>

        <script src="../assets/reveal.js/lib/js/head.min.js"></script>
        <script src="../assets/reveal.js/js/reveal.min.js"></script>

        <script>
            Reveal.initialize({
                history: true,
                dependencies: [
                    { 
                        src: "../assets/reveal.js/lib/js/classList.js", condition: function () {
                            return !document.body.classList;
                        } 
                    },
                    {
                        src: "../assets/reveal.js/plugin/highlight/highlight.js",
                        async: true,
                        callback: function () {
                            hljs.initHighlightingOnLoad();
                        }
                    },
                    {
                        src: "../assets/reveal.js/plugin/notes/notes.js",
                        async: true,
                        condition: function () {
                            return !!document.body.classList;
                        }
                    }
                ]
            });

            angular.module("DemoApp", [], function ($interpolateProvider) {
                $interpolateProvider.startSymbol("{{{").endSymbol("}}}");
            }).controller("DemoCtrl1", function ($scope) {
                $scope.yourName = "James";
                $scope.sayHi = function () {
                    alert("Hi " + $scope.yourName);
                };
            });
        </script>

    </body>
</html>
